echo "HEST/" >> .gitignore
echo "hest_data/" >> .gitignore
echo "FFPE Human Breast with Pre-designed Panel/" >> .gitignore
echo "Pancreatic Cancer with Xenium Human Multi-Tissue and Cancer Panel/" >> .gitignore

