# Ignore Xenium dataset folders
cache/
FFPE Human Breast with Pre-designed Panel/
HEST/
hest_data/
Pancreatic Cancer with Xenium Human Multi-Tissue and Cancer Panel/
memap
hest_data/
FFPE*
Pancreatic*
